<div id="wrapper" class="d-none">
        <h1>Bienvenue {{ fullname }}</h1>
        <hr>
        
        <form id="addMessage" class="input-group mt-4">
            <input type="text" name="message" id="message" class="form-control" placeholder="Votre message ..." autofocus>
            <div class="input-group-append">
                <button class="btn btn-outline-primary" type="submit">Envoyer</button>
            </div>
        </form>
        
        <ul id="messages" class="list-group list-group-flush mt-4">
            
            <li class="list-group-item d-flex align-items-start">
                <img class="rounded" src="//gradientjoy.com/40x40" style="width:40px;" />
                <div class="d-flex w-100 flex-column align-items-start ml-2">
                    <span class="badge badge-dark mr-1">jm</span>
                    Possimus ut eum doloremque ipsam veritatis iste.
                </div>
                <span class="ml-auto badge badge-light">15/04/2019 à 10h42</span>
            </li>
        
            <li class="list-group-item d-flex align-items-start">
                <img class="rounded" src="//gradientjoy.com/40x40" style="width:40px;" />
                <div class="d-flex w-100 flex-column align-items-start ml-2">
                    <span class="badge badge-dark mr-1">thierry</span>
                    Culpa ipsa, aliquid esse sint sed nihil!
                </div>
                <span class="ml-auto badge badge-light">15/04/2019 à 10h40</span>
            </li>
        
            <li class="list-group-item d-flex align-items-start">
                <img class="rounded" src="//gradientjoy.com/40x40" style="width:40px;" />
                <div class="d-flex w-100 flex-column align-items-start ml-2">
                    <span class="badge badge-dark mr-1">jm</span>
                    Lorem ipsum dolor sit amet consectetur adipisicing.
                </div>
                <span class="ml-auto badge badge-light">15/04/2019 à 10h30</span>
            </li>
            
        </ul>
</div>

