<h1>Firebase Chat</h1>
<hr>

<div class="alert alert-danger d-none" id="error"></div>

<div class="row">
    <div class="mt-4 col col-md-6">
        <h2>🐱‍👤 Déjà inscrit ?</h2>
        <hr>
        <form id="login">
            <div class="form-group">
                <label for="login_email">Adresse e-mail</label>
                <input type="email" class="form-control" id="login_email" name="login_email"
                    placeholder="john.doe@example.com">
            </div>
            <div class="form-group">
                <label for="login_password">Mot de passe</label>
                <input type="password" class="form-control" id="login_password" name="login_password"
                    placeholder="************">
            </div>
            <button type="submit" class="btn btn-lg btn-primary">Je me connecte !</button>
        </form>

        <hr>

        <h2 class="mb-3">Où, je me connecte avec ...</h2>
        <a href="#" id="google" class="btn btn-lg btn-danger">Google</a>
        <!-- <a href="#" class="btn btn-lg btn-primary">Facebook</a> -->
        <!--<a href="#" id="twitter" class="btn btn-lg btn-info">Twitter</a>-->
        <a href="#" id="github" class="btn btn-lg btn-dark">Github</a>
    </div>

    <div class="mt-4 col col-md-6">
        <h2>🐱 Non, c'est ma première fois ...</h2>
        <hr>
        <form id="signin">
            <div class="form-group">
                <label for="signin_firstname">Prénom</label>
                <input type="text" required class="form-control" id="signin_firstname" name="signin_firstname"
                    placeholder="John">
            </div>
            <div class="form-group">
                <label for="signin_lastname">Nom</label>
                <input type="text" required class="form-control" id="signin_lastname" name="signin_lastname"
                    placeholder="Doe">
            </div>
            <div class="form-group">
                <label for="signin_email">Adresse e-mail</label>
                <input type="email" required class="form-control" id="signin_email" name="signin_email"
                    placeholder="john.doe@example.com">
            </div>
            <div class="form-group">
                <label for="signin_password">Mot de passe</label>
                <input type="password" required class="form-control" id="signin_password" name="signin_password"
                    placeholder="************">
            </div>
            <div class="form-group">
                <label for="signin_password_confirm">Confirmation du mot de passe</label>
                <input type="password" required class="form-control" id="signin_password_confirm"
                    name="signin_password_confirm" placeholder="************">
            </div>
            <div class="form-group">
                <label for="signin_avatar">Photo</label>
                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="signin_avatar"
                        accept="image/png, image/jpeg, image/gif">
                    <span class="custom-file-label">Choisir un fichier ...</span>
                </div>
            </div>
            <button type="submit" class="btn btn-lg btn-success">Je m'inscris</button>
        </form>
    </div>
</div>